html {
  height: 100%;
}

body {
  height: 100%; margin: 0;
  background-color: $grey-05;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 50%, 0.5);
}

i {
  color: $grey-7
}

.disabled, *[disabled] {
  i {
    color: $grey-4
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $grey-4;
  border-right-color: $grey-8;
  animation: spinner_keyframes 0.6s linear infinite;

  @keyframes spinner_keyframes {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
