#track-import-container {
  padding: 20px;

  section {
    padding: 25px 0;
    position: relative;

    &:first-child {
      padding-top: 10px;
    }

    &:not(:first-child) {
      &::before {
        position: absolute;
        content: '';
        border-top: 1px dashed rgba(0, 0, 0, 0.15);
        width: 104%;
        left: -2%;
        top: 0px;
      }
    }

    h1 {
      font-weight: 300;
      font-size: 21px;
      margin-bottom: 15px;
    }
  }

  .input-button-grp {
    display:flex;
    width: 100%;
    max-width: 300px;

    input {
      flex: 1 1 auto;
      border: 1px solid $grey-4;
      padding: 2px 5px;
    }

    button {
      flex: 0 0 auto;
      border: 1px solid $grey-4;
      border-left: none;
      padding: 0 8px;
      background: $grey-1;
      @include spinner-container('.loading') {
        width: 16px;
        height: 16px;
      };

      i {
        font-size: 20px;
      }
    }
  }

  .playlists {
    padding: 0 10px;

    > div { // playlist
      display: flex;
      align-items: center;

      > div:nth-child(1) { // title
        font-size: 16px;
        font-weight: 500;
        color: $grey-6;
        flex: 1 0 auto;
      }

      > div:not(:nth-child(1)) { // action
        cursor: pointer;
        @include spinner-container('.loading');
      }
    }
  }
}
